.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(255, 255, 255, 1);
  background-color: #ffffff;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0 0.4rem 1.4rem 0 rgba(39, 52, 66, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #273442;
  color: #ffffff;
}

.choice-text {
  padding: 1.5rem;
  color: #273442;
}
