.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(255, 255, 255, 1);
  background-color: #ffffff;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0 0.4rem 1.4rem 0 rgba(39, 52, 66, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #273442;
  color: #ffffff;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: #273442;
}

.correct {
  background-color: #68feb8;
}

.incorrect {
  background-color: #ff5757;
}

/* Head-up Display (HUD) */

/* Create space between each HUD component */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

/* Add progress bar to HUD */
#progressBar {
  width: 14rem;
  height: 4rem;
  border: 0.3rem solid #ffffff;
  margin-top: 1.1rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #ffffff;
  width: 50%;
}
